.playerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.playerHeader {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

.videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controlsContainer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 1001;
}

.leftButton {
    margin-right: auto;
}

.rightButton {
    margin-left: auto;
}

.errorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: red;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    z-index: 10;
}